/* 
	Please leave the content below alone for this week's tutorial
*/
@font-face {
	font-family: 'Butler_Bold';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/Butler_Bold.otf');
}

@font-face {
	font-family: 'NHaas';
	font-weight: bolder;
	font-style: normal;
	src: url('../fonts/fonts/NHaasGroteskDSPro-26Th.otf');
}

@font-face {
	font-family: 'PPSupply';
	font-weight: lighter;
	font-style: normal;
	src: url('../fonts/fonts/PPSupplyMono-Ultralight.otf');
}

