* {
  box-sizing: border-box;
 }

 @media (min-width: 80rem) {  
  .grid.seven-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media(min-width: 65.625rem){
  .grid.two-column-content{
      grid-template-columns: 1fr 1fr;
    column-width: 20 rem;
  }
}