/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
*, *::after, *::before {
  box-sizing: border-box;
}


.product_alignment {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  /*
    A flexbox will try to fit all elements in one line by default. The 'flex-wrap' property lets us wrap child elements that become too wide for their current row.
  */
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
    flex-direction: row;

    /*
    To get our flexbox to change how elements are spanned across the remaining space, we can use the 'justify-content' property. In this case, we are specifying that we want the extra space to be balanced around our elements.
  */
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: center;


}


body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 4rem;
}

.element {
  /* padding-bottom: 2rem; */
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

section {
  padding-bottom: 2rem;
}

a {
  text-decoration: underline;
  cursor:pointer;
}

/* #square1 {
  display: inline-block;
  border-radius: 10px;
  height: 80px;
  width: 80px;
  background-color: #f0743e;
} /* Citation: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_shapes_square */ 

/* #square2 {
  display: inline-block;
  border-radius: 10px;
  height: 80px;
  width: 80px;
  background-color: #f6c3ae;
} 

#square3 {
  display: inline-block;
  border-radius: 10px;
  height: 80px;
  width: 80px;
  background-color: #9ab2d4;
} 

#square4 {
  display: inline-block;
  border-radius: 10px;
  height: 80px;
  width: 80px;
  background-color: #AAD59e;
}  */

nav a {
  color: white;
  font-weight: 600;
  display:inline-block;
  border-radius: 10px; /* Citation: https://www.w3schools.com/css/css3_borders.asp */
  overflow: hidden;
  text-align: center;
  background-color: #33C8E8;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  font-weight: 600;
  color: white;
  background-color: #88D4E8;
  text-decoration: none;
}

/* code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
} */


/* 
  INTERACTIVE ELEMENTS -------------------
*/

.in-text-link {
  color: #33C8E8;
}
.in-text-link:hover, .in-text-link:focus{
  color: #000;
  text-decoration: none;
}

.button {
  font-weight: 600;
  background-color: #33C8E8;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button:hover{
  font-weight: 600;
  background-color: #88D4E8;
  cursor: pointer;
  /* Ciation: https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_basic*/
}

.image:hover, .image:focus {
  opacity: .5;
}

input{
  background-color: rgb(238, 238, 238);
  margin: 0px;
}

input:hover, input:focus {
  background-color: white;
}

/* 
  TEXT ELEMENTS -------------------
*/


h1 {
  font-family: "Butler_Bold", Verdana, serif;
  color:#33C8E8;
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-style: italic;
  font-size: 20px;
}

h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
}



/* 
  COMBINED ELEMENTS -------------------
*/

a {
color:#33C8E8;
}

a:hover, a:focus {
  color: #000;
  text-decoration: none;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container_padding{
  padding-right: 40px;
  padding-bottom: 20px;

  order: 2; /* Default order */

}

.container {
  background-color: #f2f2f2;
  padding: 20px 20px 20px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding-right: 50px;
}

.container-product1 {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #9ab2d4;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.container-product2 {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #cebcdc;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.container-product3 {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #abd59e;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.container-product4 {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #f6c3ae;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.container-product5 {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #ffdd86;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.container-product6 {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #F0743E;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.container-product7 {
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #33C8E8;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.container-product8 {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: white;
  background-color: #88D4E8;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.container button {
  width: 100%;
}

/* label {
  margin-bottom: 10px;
  display: block;
} */

.btn {
  background-color: #33C8E8;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #f6c3ae;
}

span.price {
  float: right;
  color: grey;
}



/* Citation: https://www.w3schools.com/howto/howto_css_checkout_form.asp